.body {
    background-image: url(https://cdn.registerdisney.go.com/v4/asset/bundler/ABC/v4/images/v1/abc-background-web.webp);
    background-size: 1272px;
}

.logo-flex{
display: flex;
justify-content: center;
}

.logo-size{
    width: 79.8px;
    height: auto;
    margin-right: 11px;
    margin-top: 1px;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 450px;
  margin: 60px auto;
  padding-top: 61px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 58px;
  border-radius: 25px;
  background-color: #252526;
  margin-top: 23px;
}

.form-block #email {
  padding: 18px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px;
}

.mydisney{
    fill: #ffffff;
    width: 90px;
}

#email{
    background-color: #333335;
    font-size: 15px;
    padding: 20px;
    margin-top: 0px;
}

#continue{
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    padding: 18px;
}

.heading{
    color: aliceblue;
    font-family:Noto Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 2.5rem;
    /* margin-top: 1px; */
    margin: 0;
    padding: 0;
}

.p{
    color: #f1f2f4;
    font-family: Noto Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-top: 0.1px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0;
}

.hr{
    width: 100%;
    border: 1px solid rgb(134, 134, 134);
    margin-top: 50px;
    border-top: 1px solid #5f6166;
}

.p2{
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
}

.p3{
    margin-top: 0px;
    color: rgb(165, 165, 165);
    font-family: Arial;
    font-size: 13px;
    
}

.more-link{
    color: #a6bff8;
    text-decoration: none;
}

.logos {
  fill: grey;  
  display: flex;
  gap: 10-x;  
}

.my-button{
    border-radius: 20px;
    border-style: none;
    background-color: rgb(95, 95, 95);
    color: #ffffff;
    height: 33px;
    width: 33px;
    font-weight: bolder;
    display: flex;
    align-content: flex-end;
}

.my-button:hover {
    background-color: white;
    color: #252526;
}

.button{
    width: 99%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}